{% extends 'base.html.twig' %}

{% block title %}Questions{% endblock %}

{% block body %}

 <ul>
        {% for post in posts %}
        <li>{{ post.question }}</li>
        
        {% endfor %}
{% for bob in bob %}
        <li>{{ bob.reponse }}</li>
        <a href="{{ path('reponse_expected') }}">Question</a><br/>
        {% endfor %}

        {% for i in 21..((totalPosts/3.7)|round(0, 'ceil')) %}
        <a href="{{ path('definition', {page: i}) }}">{{ i }}</a>
        {% endfor %}
      
    </ul>
    <a href="{{ path('security_categorie') }}">Categories</a><br/>

{% endblock %}